<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Lepenscope</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="" sizes="32x32">

  <!-- CSS  -->
  <style>
    #logo {
      padding-left:30px;
    }
    .navbar {
      background-color: #1F3356
    }
  </style>
  {% block head %}
  {% endblock %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <!--
  <div class="navbar-fixed">
    <nav class="navbar">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Lepenscope</a>
      <ul class="right hide-on-med-and-down">
        {% block navbuttons %}
        {% endblock %}
      </ul>
    </div>
  </nav>

</div>-->
</head>
<body style="background-color:#dde3ee;">
      {% block content %}
      {% endblock %}
</body>
<footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  {% block javascript %}
  {% endblock %}
</footer>

</html>
