{% extends "basetempl.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.css">
{% endblock %}
{% block body %}
<style>
  #mynetwork {
    height: 90vh;
  }
</style>
<div class="row" style="display:none;">
  <div class="input-field col s6">
    <input id="search" type="text" onkeyup="search()" class="validate">
    <label for="search">Recherche</label>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div id="mynetwork"></div>
  </div>
</div>

{% endblock %}
{% block footerfirst %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js"></script>
{% endblock %}
{% block footer %}
<script>
function search() {
// Declare variables
var input, filter, table, tr, td, i;
input = document.getElementById("search");
filter = input.value.toUpperCase();
circo = document.getElementsByClassName("circo");

// Loop through all table rows, and hide those who don't match the search query
for (i = 0; i < circo.length; i++) {
  if (circo[i].getAttribute('search').toUpperCase().indexOf(filter) == -1) {
    circo[i].style.display = "none";
  } else {
    circo[i].style.display = "";
  }
}
}
</script>

<script type="text/javascript">
  $(document).ready(function() {
    // create an array with nodes
    var nodes = {{ nodes|safe }};

    // create an array with edges
    var edges = {{ edges|safe }};

    // create a network
    var container = document.getElementById('mynetwork');
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      edges: {
        font: {
          size: 12
        },
        width:2
      },
      nodes: {
        shape: 'circle',
        widthConstraint: {
          minimum: 100
        },
        font: {
          size: 16,
          face: 'roboto',
          bold: 'true',
          color: '#FFFFFF'
        }
      },
      physics:{
        enabled: true,
        barnesHut: {
          gravitationalConstant: -2000,
          centralGravity: 0.3,
          springLength: 95,
          springConstant: 0.04,
          damping: 0.09,
          avoidOverlap: 1
        },
        forceAtlas2Based: {
          gravitationalConstant: -50,
          centralGravity: 0.01,
          springConstant: 0.08,
          springLength: 150,
          damping: 0.4,
          avoidOverlap: 0
        },
        repulsion: {
          centralGravity: 0.2,
          springLength: 300,
          springConstant: 0.05,
          nodeDistance: 200,
          damping: 0.09
        },
        hierarchicalRepulsion: {
          centralGravity: 0.0,
          springLength: 100,
          springConstant: 0.01,
          nodeDistance: 120,
          damping: 0.09
        },
        maxVelocity: 50,
        minVelocity: 0.1,
        solver: 'repulsion',
        stabilization: {
          enabled: true,
          iterations: 3000,
          updateInterval: 200,
          onlyDynamicEdges: false,
          fit: true
        },
        timestep: 0.5,
        adaptiveTimestep: true
      }
    };
    var network = new vis.Network(container, data, options);
  })

</script>

{% endblock %}
